* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;

}

body {
  background-color: #F5F5DC;
}

.titulo {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}

  /*
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 400 to 900 
  */

.playfair-display-subtitulo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>*/;
  font-style: normal;
}